body{
	font-family: sans-serif;
	width:360px;
	height: 480px;
	text-align: center;
	color: white;
	background-color: black;
}
button{
	background-color: transparent;
	border: none;
	height: 75px;
	width: 75px;
	background-repeat: no-repeat;
	background-position: center;
}
.jp-previous{
	background-image: url("/ikon/forrigesang.png");
}
.jp-play{
	background-image: url("/ikon/spill.png");
	height: 150px;
	width: 150px;
}
.jp-stop{
	background-image: url("/ikon/pause.png");
	height: 150px;
	width: 150px;
	background-position: center;
}
.jp-next{
	background-image: url("/ikon/nestesang.png");
}
.jp-mute{
	background-image: url("/ikon/mute.png");
	height: 55px;
	width: 50px;
}
.jp-volume-max{
	background-image: url("/ikon/volum.png");
	height: 37px;
	width: 50px;
}
.jp-controls{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: -5em;
}
.jp-playlist-item{
	display: none;
}
.jp-playlist-current{
	display: block;
	font-size: 1.2em;
	color: white;
	max-width: 350px;

}
.jp-playlist-item-remove{
	display: none;
}
#jquery_jplayer_1{
	display: block;
}

a{
	color: black;
	text-decoration: none;
}
.jp-duration, .jp-current-time{
	display: inline;
	color: white;
	font-size: 1.2em;

}
#info{
	background-image: url(ikon/info.png);
}
#liker{
	background-image: url(ikon/liker.png);
}
#close{
	background-image: url(ikon/lukk.png);
}
#bioknapp{
	background-image: url(ikon/biolyd.png);
	width: 106px;
	opacity: 0.1;
}
#reportasje{
	background-image: url(ikon/intervjulyd.png);
	width: 153px;
	opacity: 0.1;
}
#artistInfo{
	font-size: 1.5em;
	font-family: sans-serif;
	line-height: 1.5em;
	color: white;
	background-color: black;
}
#artistInfo h1{
	font-size: 1.75em;
	width: 100%;
	padding-bottom: 0.5em;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}